
<mat-card class="example-card card ">
    <mat-card-title>{{productObj.name}}</mat-card-title>
    <mat-card-subtitle class="mt-3 text-capitalize">
      <p [ngClass]="{
        'text-success':productObj.status === 'delivered',
        'text-warning': productObj.status === 'ordered',
        'text-danger': productObj.status === 'dispatched'
      }"
      >{{productObj.status}} </p>
    </mat-card-subtitle>
    <mat-card-content>
      <p>{{productObj.description}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button
      [routerLink]="productObj.id"
      type="button" mat-button>Read More...</button>
    </mat-card-actions>
  </mat-card>