<nav class="navbar navbar-expand-lg navbar-light bg-light mainNavbar">
    <a class="navbar-brand" href="#">
        <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" routerLink="products">
          <a class="nav-link" href="#">Products <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <button 
    routerLink="products/addproduct"
    type="submit" mat-raised-button color='accent'>Add Product</button>
  </nav>